.nav_block {
  color: white;
  background-image: url(./book.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 250px;
  border: 1px solid black;
}
.nav_block input {
  width: 350px;
  height: 16px;
}
.nav_input_param {
  display: flex;
  align-items: center;
}
.nav_input_param h3 {
  margin-right: 15px;
  margin-left: 15px; 
}
